
  
  


  <div class="container">
    <div class="img-container">      <img src="{{menuData[0].articleImg}}" />
    </div>

    <div class="second-container">
      <h1 class="heading">Shop Easilly</h1>
      <h2 class="sub-heading">
        {{menuData[0].articleName}}
      </h2>
      <p class="body-text">
        {{menuData[0].productDetails}} 
      </p>
      <p class="price">{{menuData[0].articlePrice}} <span class="crossed-word">{{menuData[0].oldprice}}</span></p>
      <div class="btn">   <button class="btn">
        Add to Cart
      </button></div>
    </div>
  </div>






 